body {
  background-image: url("/Users/Laneharvey/Desktop/stars.jpeg");
  background-size: 100vw 100vh;
}
h1{
  height: 50%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: white;
  font-family: Helvetica;
  font-style: oblique;;
  font-weight: bold;
}
h2{
height: 140%;
width: 100%;
display: flex;
position: fixed;
align-items: center;
justify-content: center;
font-size: 20px;
color: white;
font-family:serif;
font-style: italic;
}
.first{
  position: fixed;
  top:75%;
  left: 45%;
}
.second{
  position: fixed;
  top:10%;
  left: 90%;
}
.third{
  position: fixed;
  top:10%;
  left: 10%;
}
.pic{
  opacity: .8;
}
